@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight:normal;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar{
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #364041;
  padding: 30px 0px;
  border-radius: 0px 20px 20px 0px;
}

#sidebar #sidebar-user {
  flex-basis: 10%;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

#sidebar #sidebar-user #sidebar-userpicture {
  flex-basis: 30%;
  margin: auto;
}

#sidebar #sidebar-user #sidebar-username {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 5px;
  font-size: calc(10px + 1vw);
}

#sidebar #sidebar-user #sidebar-username .userName {
  margin: 5px;
  flex-basis: 50%;
  color: white;
}

#sidebar #sidebar-user #sidebar-username .namaKamar {
  margin: 5px;
  flex-basis: 50%;
  color: white;
}

#sidebar #sidebar-menu {
  flex-basis: 85%;
  padding-top: 15px;
}

#sidebar #sidebar-menu ul li{
  padding: 25px;
  font-size: calc(5px + 1vw);
}

#sidebar #sidebar-menu ul li a{
  color: white;
  display: block;
}

#sidebar #sidebar-menu ul li a .fas{
  width: 40px;
}

#sidebar #sidebar-menu ul li:hover{
  background-color: #5C8E9E;
  border-radius: 0px 52px 52px 0px;
  margin-right: 40px;
}

#sidebar #sidebar-menu ul li:hover a{
  color: #fff;
}

#sidebar #sidebar-logout {
  flex-basis: 5%;
  text-align: right;
  padding-right: 30px;
}

#sidebar #sidebar-logout img {
  width: 2.5vw;
}

#content{
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

#content #contentTitle {
  margin-top: 60px;
  margin-bottom: 10px;
  flex-basis: 5%;
  font-family: 'Inter', serif;
  text-align: center;
  letter-spacing: 2px;
}

#content #contentTitle #tagihanTitle {
  color: #505050;
  height: 100%;
  font-size: 45px;
  font-weight: 600;
  margin: auto;
}

#content #contentIsi {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
  overflow: auto;
}

#content #contentIsi .tagihanTahun {
  text-align: center;
  color: #5C8E9E;
  font-size: 45px;
  font-weight: 600;
  margin-top: 20px;
}

#content #contentIsi .tagihanContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
}

#content #contentIsi .tagihanContainer .flex-row {
  overflow: auto;
  display: flex;
  padding: 10px;
  flex-direction: row;
  flex-grow: 1;
}

#content #contentIsi .tagihanContainer .flex-row .box {
  border: 3px solid #364041;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 20%;
  margin-left: 10px;
  margin-right: 10px;
}

#content #contentIsi .tagihanContainer .flex-row .box .boxBulan {
  font-size: calc(10px + 0.5vw);
  color: #505050;
  border: 2px solid #364041;
  border-style: none none solid none;
}

#content #contentIsi .tagihanContainer .flex-row .box .boxTanggal {
  color: #505050;
  display: flex;
  flex-direction: row;
}

#content #contentIsi .tagihanContainer .flex-row .box .boxTanggal .statusImage {
  margin: auto;
  flex-basis: 30%;
}

#content #contentIsi .tagihanContainer .flex-row .box .boxTanggal .statusPembayaran {
  flex-basis: 70%;
  border: 2px solid #364041 ;
  border-style: none none none dashed;
}

#contentSaran {
  display: flex;
  flex-direction: column;
}

#content #contentSaran #kolomkomentar {
  padding: 20px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: 3px #505050;
  border-style: dashed;
  border-radius: 25px 25px 25px 25px;
}

#content #contentSaran img {
  display: block;
  width: 4%;
  text-align: center;
  margin: auto;
}

#content #contentSaran #kirimTitle, p {
  text-align: center;
  margin: 0 auto;
  margin: 20px;
}
#content #contentSaran p {
  text-align: center;
  padding: 20px;
  display: block;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
  margin-top: 10px;
}

#content #contentSaran #kirimButton {
  font-family: Inter;
  letter-spacing: 4px;
  color: white;
  font-weight: bold;
  background-color: #364041;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 10px;
}

#content #contentTitleBeranda {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  font-family: 'Inter';
}

#content #contentJangkaWaktu {
  display: flex;
  flex-direction: row;
}

#content #contentJangkaWaktu h2 {
  font-weight: bold;
  color: #5C8E9E;
}

#content #contentJangkaWaktu p {
  font-size: 20px;
}

#content-bawah {
  display: flex;
  flex-direction: row;
}

#content-bawah-kiri {
  flex-basis: 50%;
  margin-left: 75px;
  line-height: 30px;
  padding: 5px;
}

#content-bawah-kiri p {
  font-size: calc(1px + 1vw);
  text-align: left;
  color: #5C8E9E;
}

#content-bawah-kiri span {
  text-align: left;
  color: black;
}

#tombol-edit {
  background-color: #364041;
  border-radius: 15px;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-top: 50px;
  max-width: min-content;
}

#tombol-edit h3 {
  font-size: 20px;
}

#content-bawah-kanan {
  margin-left: 75px;
  flex-basis: 50%;
}

#content-bawah-kanan p {
  text-align: left;
}